#container {
    background-color: white;
    padding: 15px;
    cursor: pointer;
}

.borda {
    width: 100%;
    border-bottom: 1px solid black;
}

#container>div {
    display: inline-block;
}

#container>p {
    word-break: break-word;
}

span {
    color: #717477;
    font-weight: bold;
}

i {
    color: #fff;
    font-weight: bold;
}